*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

.container {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 120px auto 0 auto;
    flex-direction: column;
    max-width: 550px;
}

.status-container {
    background-color: lightslategrey;
    padding: 35px;
    border-radius: 22px;
    border: 2px solid white;
    display: flex;
    gap: 25px;
    width: 100%;
    justify-content: space-between;
}

#progressBar{
    background-color: linen;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-top: 20px;
}


#numerbs {
    background-color: lightsteelblue;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 200;

}